menu "Horizon SOC drivers"

config HOBOT_BOARD_TYPE
	bool "Horizon Board Type"
	depends on ARCH_HORIZON
	help
	  Select the board type for your target platform.
	  If unsure, leave the default value.

choice
	prompt "Select Horizon Board Type"
	depends on HOBOT_BOARD_TYPE
	default HOBOT_X5_SOC

config HOBOT_ADC_BTYPE
	bool "ADC_BTYPE"
	select ADC
	help
	  Setup board_type according to adc value.

config HOBOT_X5_SOC
	bool "X5SOC"
	help
	  Select this option for Board Type X5 SOC.

config HOBOT_X5_FPGA
	bool "X5FPGA"
	help
	  Select this option for Board Type X5 FPGA.

config HOBOT_X5_SVB
	bool "X5SVB"
	help
	  Select this option for forcing Board Type X5 SVB.
	  Select HOBOT_ADC_BTYPE when uncertain.

config HOBOT_X5_EVB_LP4_1_A
	bool "X5-EVB_LP4-1_A"
	help
	  Select this option for forcing Board Type X5 LP4 EVB 1_A.
	  Select HOBOT_ADC_BTYPE when uncertain.

config HOBOT_X5_EVB_LP4_1_B
	bool "X5-EVB_LP4-1_B"
	help
	  Select this option for forcing Board Type X5 LP4 EVB 1_B.
	  Select HOBOT_ADC_BTYPE when uncertain.

config HOBOT_X5_EVB_LP4_V1P2
	bool "X5-EVB_LP4-V1P2"
	help
	  Select this option for forcing Board Type X5 LP4 EVB V1P2.
	  Select HOBOT_ADC_BTYPE when uncertain.

endchoice

endmenu
