// SPDX-License-Identifier: GPL-2.0
/*
 * Hobot X5 board device tree source
 *
 * Copyright (c) 2024, D-Robotics. All rights reserved.
 */

/dts-v1/;

#include "x5.dtsi"

/ {
	model = "D-Robotics X5";
};
