// SPDX-License-Identifier: BSD-2-Clause
/*
 * Copyright(C) 2024, D-Robotics Co., Ltd. All rights reserved
 */

/dts-v1/;

#include <configs/x5.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/board/hb_board_id.h>

/ {
	compatible = "Horizon,x5";

	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		stdout-path = &dsp_uart;
		initial-devices = &board_type;
	};

	config {
		u-boot,mmc-env-partition = "ubootenv";
	};

	board_type: board_type {
		compatible = "hobot,btype";
		adc_dev = &adc, &adc;
		adc_channel = <0 1>;
		board_type_array =
				<0 50 0 40 HOBOT_X5_FPGA_ID 0 0 0 0 0>,
				<1100 1300 800 1000 HOBOT_X5_SOC_ID 1 0 0 1 1>,
				<0 40 40 80 HOBOT_X5_SVB_ID 2 0 0 2 0>,
				<151 240 51 140 HOBOT_X5_EVB_ID 3 0 0 3 1>,
				<151 240 151 240 HOBOT_X5_EVB_V2_ID 4 0 0 4 1>,
				<251 340 51 140 HOBOT_X5_RDK_ID 5 0 0 5 1>;
		hardware_array = "x5-fpga", "x5-soc", "x5-svb", "x5-evb", "x5-evb-v2", "x5-rdk";
		ethact_array = "default";
		net_eth0_ipaddr = "192.168.1.10";
		board_name_array = "x5-fpga", "x5-soc", "x5-svb", "x5-evb", "x5-evb-v2", "x5-rdk";
		pmic_type = "dual-pmic", "single-pmic";
	};

	lsio_iomuxc: lsio_iomuxc@34180000 {
		compatible = "d-robotics,horizon-lsio-iomuxc";
		reg = <0x34180000 0x200>;
	};

	hsio_iomuxc: hsio_iomuxc@35050000 {
		compatible = "d-robotics,horizon-hsio-iomuxc";
		reg = <0x35050000 0x200>,	/* iomux */
				<0x31040040 0x4>;	/* mode select */
	};

	lsio_sys_con: syscon@34180000 {
		compatible = "syscon";
		reg = <0x34180000 0x10000>;
	};

	reg_adc_vref_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "adc_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	clocks {
		compatible = "simple-bus";
		refclk: ref {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <CONFIG_SYS_CLK_FREQ>;
		};
		sdclk: sdclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <SD_EMMC_CLK_FREQ>;
		};
		qspiclk: qspiclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <QSPI_CLK_FREQ>;
		};
		adcclk: adcclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <ADC_CLK_FREQ>;
		};
		wdtclk: wdtclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <WDT_CLK_FREQ>;
		};
	};

	dsp_uart: serial@32120000 {
		compatible = "ns16550a";
		reg = <0x32120000 0x10000>;
		clock-frequency = <UART_CLK_FREQ>;
		reg-shift = <2>;
		current-speed = <115200>;
		u-boot,dm-pre-reloc;
		status = "okay";
	};

	watchdog: watchdog@34250000 {
		compatible = "snps,dw-wdt";
		reg = <0x34250000 0x10000>;
		clocks = <&wdtclk>, <&wdtclk>;
		clock-names = "pclk", "tclk";
		timeout-sec = <10>;
		clk-rate-div = <2>;
		syscon-wdt-rst = <&reset_sys_con>;
		syscon-wdt-rst-offset = <0x54>;
		syscon-wdt-rst-bit = <4>;
		status = "okay";
	};

	optee: optee {
		compatible = "linaro,optee-tz";
		method = "smc";
		status = "okay";
	};

	reset_sys_con: syscon@34210000 {
		compatible = "syscon";
		reg = <0x34210000 0x2400>;
	};

	adc: adc@34190000 {
		compatible = "guc,igav04a";
		status = "okay";
		reg = <0x34190000 0x10000>,	/*adc*/
			<0x34180100 0x10>;	/*password*/
		clocks = <&adcclk>;
		clock-names = "adc-clk";
		vref-supply = <&reg_adc_vref_1v8>;
		#io-channel-cells = <1>;
		guc,adc-channels = <0 1 2 3 4 5 6 7>;
		guc,passwd = <12345678>;
		efuse-offset = <0x74>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	board_dts: board_dts {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
	};

};
#include "x5-fpga.dtsi"
#include "x5-svb.dtsi"
#include "x5-soc.dtsi"
#include "x5-rdk.dtsi"
