// SPDX-License-Identifier: BSD-2-Clause
/*
 * Copyright(C) 2024, D-Robotics Co., Ltd. All rights reserved
 */

/dts-v1/;

#include <configs/x5.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/board/hb_board_id.h>
#include <dt-bindings/pinctrl/horizon-pinfunc.h>

/ {
	compatible = "Horizon,x5";

	#address-cells = <1>;
	#size-cells = <1>;

	/* Reserved memory for display framebuffer */
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/*
		 * Framebuffer memory: 32MB at fixed address
		 * Supports up to 4K (3840x2160) ARGB32 = 31.64MB
		 *
		 * IMPORTANT: Must NOT overlap with kernel reserved regions!
		 * Kernel isp_cma: 0x88000000 - 0x9FE00000 (382MB)
		 * Kernel adsp_ddr: 0x9FE80000 - 0xA2080000 (34MB)
		 *
		 * Safe region: 0xA2080000 - 0xA4080000 (32MB gap before ramoops)
		 */
		display_reserved: framebuffer@A2080000 {
			reg = <0xa2080000 0x2000000>;  /* 32MB for 4K support */
			no-map;
		};
	};

	chosen {
		stdout-path = &dsp_uart;
		initial-devices = &board_type;
	};

	config {
		u-boot,mmc-env-partition = "ubootenv";
	};

	cipher {
		key-aes128-fit_enc_key-fit_enc_iv {
			key = "2222222222222222";
			iv =  "1111111111111111";
		};
	};

	board_type: board_type {
		compatible = "hobot,btype";
		adc_dev = &adc, &adc;
		adc_channel = <0 1>;
		board_type_array =
				<0 50 0 40 HOBOT_X5_FPGA_ID 0 0 0 0 0>,
				<1100 1300 800 1000 HOBOT_X5_SOC_ID 1 0 0 1 0>,
				<0 40 40 80 HOBOT_X5_SVB_ID 2 0 0 0 0>,
				<151 240 51 140 HOBOT_X5_EVB_LP4_1_A_ID 3 0 0 1 0>,
				<151 240 151 240 HOBOT_X5_EVB_LP4_1_B_ID 3 0 0 1 1>,
				<151 240 251 340 HOBOT_X5_EVB_LP4_V1P2_ID 3 0 0 1 7>,
				<151 240 351 440 HOBOT_X5_EVB_LP4_V1P3_ID 3 0 0 1 8>,
				<151 240 451 540 HOBOT_X5_EVB_LP4_V2P0_ID 3 0 0 1 9>,
				<351 440 51 140 HOBOT_X5_EVB_LP4X_V0P1_ID 4 0 0 1 2>,
				<251 340 51 140 HOBOT_X5_RDK_ID 5 0 0 1 2>,
				<251 340 151 240 HOBOT_X5_RDK_V1P0_ID 5 0 0 1 5>,
				<451 540 51 140 HOBOT_X5_MD_V0P1_ID 6 0 0 1 2>,
				<451 540 151 240 HOBOT_X5_MD_V0P2_ID 6 0 0 1 3>,
				<451 540 251 340 HOBOT_X5_MD_V0P3_ID 6 0 0 1 4>,
				<451 540 351 440 HOBOT_X5_MD_V1P0_ID 6 0 0 1 5>,
				<451 540 451 540 HOBOT_X5_MD_V1P1_ID 6 0 0 1 6>,
				<451 540 551 640 HOBOT_X5_MD_V1P2_ID 6 0 0 1 7>;
		hardware_array = "x5-fpga", "x5-soc", "x5-svb", "X5_EVB_LP4", "X5_EVB_LP4X", "X5-RDK", "X5-MD";
		ethact_array = "default";
		net_eth0_ipaddr = "192.168.1.10";
		pmic_type = "dual-pmic", "single-pmic";
		board_version = "1_A", "1_B", "V0P1", "V0P2", "V0P3", "V1P0", "V1P1", "V1P2", "V1P3", "V2P0";
	};

	aon_gpio: gpio@31000000 {
		compatible = "snps,dw-apb-gpio";
		status = "okay";
		reg = <0x31000000 0x10000>;
		#address-cells = <1>;
		#size-cells = <0>;

		aon_gpio_porta: gpio@0 {
			compatible = "snps,dw-apb-gpio-port";
			gpio-controller;
			snps,nr-gpios = <8>;
			reg = <0>;
			#gpio-cells = <2>;
			gpio-ranges = <&aon_iomuxc 0 0 8>;
			gpio-base = <498>;
		};
	};

	aon_iomuxc: aon_iomuxc@31040000 {
		compatible = "d-robotics,horizon-aon-iomuxc";
		reg = <0x31040000 0x14>;
		horizon,gpio-banks = <&aon_gpio>;
	};

	ls_gpio0: gpio@34120000 {
		compatible = "snps,dw-apb-gpio";
		status = "okay";
		reg = <0x34120000 0x10000>;
		#address-cells = <1>;
		#size-cells = <0>;

		ls_gpio0_porta: gpio@ls_0 {
			compatible = "snps,dw-apb-gpio-port";
			gpio-controller;
			snps,nr-gpios = <LSIO_GPIO0_NUM>;
			reg = <0>;
			#gpio-cells = <2>;
			gpio-ranges = <&lsio_iomuxc 0 0 32>;
			gpio-base = <379>;
		};
	};

	ls_gpio1: gpio@34130000 {
		compatible = "snps,dw-apb-gpio";
		status = "okay";
		reg = <0x34130000 0x10000>;
		#address-cells = <1>;
		#size-cells = <0>;

		ls_gpio1_porta: gpio@ls_1 {
			compatible = "snps,dw-apb-gpio-port";
			gpio-controller;
			snps,nr-gpios = <LSIO_GPIO1_NUM>;
			reg = <0>;
			#gpio-cells = <2>;
			gpio-ranges = <&lsio_iomuxc 0 32 17>;
			gpio-base = <347>;
		};
	};
	lsio_iomuxc: lsio_iomuxc@34180000 {
		compatible = "d-robotics,horizon-lsio-iomuxc";
		reg = <0x34180000 0x200>;
		horizon,gpio-banks = <&ls_gpio0 &ls_gpio1>;
	};

	hs_gpio0: gpio@35060000 {
		compatible = "snps,dw-apb-gpio";
		status = "okay";
		reg = <0x35060000 0x10000>;
		#address-cells = <1>;
		#size-cells = <0>;

		hs_gpio0_porta: gpio@hs_0 {
			compatible = "snps,dw-apb-gpio-port";
			gpio-controller;
			snps,nr-gpios = <HSIO_GPIO0_NUM>;
			reg = <0>;
			#gpio-cells = <2>;
			gpio-ranges = <&hsio_iomuxc 0 0 31>;
			gpio-base = <466>;
		};
	};

	hs_gpio1: gpio@35070000 {
		compatible = "snps,dw-apb-gpio";
		status = "okay";
		reg = <0x35070000 0x10000>;
		#address-cells = <1>;
		#size-cells = <0>;

		hs_gpio1_porta: gpio@hs_1 {
			compatible = "snps,dw-apb-gpio-port";
			gpio-controller;
			snps,nr-gpios = <HSIO_GPIO1_NUM>;
			reg = <0>;
			#gpio-cells = <2>;
			gpio-ranges = <&hsio_iomuxc 0 31 18>;
			gpio-base = <434>;
		};
	};
	hsio_iomuxc: hsio_iomuxc@35050000 {
		compatible = "d-robotics,horizon-hsio-iomuxc";
		reg = <0x35050000 0x200>,	/* iomux */
				<0x31040040 0x4>;	/* mode select */
		horizon,gpio-banks = <&hs_gpio0>, <&hs_gpio1>;
	};

	dsp_gpio: gpio@32150000 {
		compatible = "snps,dw-apb-gpio";
		status = "okay";
		reg = <0x32150000 0x10000>;
		#address-cells = <1>;
		#size-cells = <0>;

		dsp_gpio_porta: gpio@dsp {
			compatible = "snps,dw-apb-gpio-port";
			gpio-controller;
			snps,nr-gpios = <DSP_GPIO_NUM>;
			reg = <0>;
			#gpio-cells = <2>;
			gpio-ranges = <&dsp_iomuxc 0 0 23>;
			gpio-base = <411>;
		};
	};

	dsp_iomuxc: dsp_iomuxc@31040014 {
		compatible = "d-robotics,horizon-dsp-iomuxc";
		reg = <0x31040014 0x100>;
		horizon,gpio-banks = <&dsp_gpio>;
	};

	lsio_sys_con: syscon@34180000 {
		compatible = "syscon";
		reg = <0x34180000 0x10000>;
	};

	reg_adc_vref_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "adc_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	clocks {
		compatible = "simple-bus";
		refclk: ref {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <CONFIG_SYS_CLK_FREQ>;
		};
		sdclk: sdclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <SD_EMMC_CLK_FREQ>;
		};
		qspiclk: qspiclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <QSPI_CLK_FREQ>;
		};
		adcclk: adcclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <ADC_CLK_FREQ>;
		};
		i2cclk: i2cclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <I2C_CLK_FREQ>;
		};
		uartclk: uartclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <UART_CLK_FREQ>;
		};
		wdtclk: wdtclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <WDT_CLK_FREQ>;
		};
	};

	dsp_uart: serial@32120000 {
		compatible = "ns16550a";
		reg = <0x32120000 0x10000>;
		clock-frequency = <UART_CLK_FREQ>;
		reg-shift = <2>;
		current-speed = <115200>;
		u-boot,dm-pre-reloc;
		status = "okay";
	};

	watchdog: watchdog@34250000 {
		compatible = "snps,dw-wdt";
		reg = <0x34250000 0x10000>;
		clocks = <&wdtclk>, <&wdtclk>;
		clock-names = "pclk", "tclk";
		timeout-sec = <10>;
		clk-rate-div = <2>;
		syscon-wdt-rst = <&reset_sys_con>;
		syscon-wdt-rst-offset = <0x54>;
		syscon-wdt-rst-bit = <4>;
		status = "okay";
	};

	optee: optee {
		compatible = "linaro,optee-tz";
		method = "smc";
		status = "okay";
	};

	reset_sys_con: syscon@34210000 {
		compatible = "syscon";
		reg = <0x34210000 0x2400>;
	};

	adc: adc@34190000 {
		compatible = "guc,igav04a";
		status = "okay";
		reg = <0x34190000 0x10000>,	/*adc*/
			<0x34180100 0x10>;	/*password*/
		clocks = <&adcclk>;
		clock-names = "adc-clk";
		vref-supply = <&reg_adc_vref_1v8>;
		#io-channel-cells = <1>;
		guc,adc-channels = <0 1 2 3 4 5 6 7>;
		guc,passwd = <12345678>;
		efuse-offset = <0x74>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	i2c2: i2c@340d0000 {
		compatible = "snps,designware-i2c";
		status = "okay";
		reg = <0x340d0000 0x10000>;
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&i2cclk>;
		#clock-names = "i2c-clk";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c2>;
	};

	i2c4: i2c@340f0000 {
		compatible = "snps,designware-i2c";
		status = "disabled";
		reg = <0x340f0000 0x10000>;
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&i2cclk>;
		#clock-names = "i2c-clk";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c4>;
	};

	i2c5: i2c@341c0000 {
		compatible = "snps,designware-i2c";
		status = "okay";
		reg = <0x341c0000 0x10000>;
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&i2cclk>;
		#clock-names = "i2c-clk";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c5>;

		es8156: es8156@8 {
			reg = <0x8>;
			compatible = "hobot,es8156";
			#sound-dai-cells = <0>;
		};
	};

	/*
	 * DSP I2C7 (reg matches kernel SoC); RDK hangs SII902x here.
	 * CRM: DSP_CLK_ENB bit 21 + DSP SW reset bit 19 (x5_crm_dsp_i2c_pclk_enable).
	 */
	i2c7: i2c@320a0000 {
		compatible = "snps,designware-i2c";
		status = "disabled";
		reg = <0x320a0000 0x10000>;
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&i2cclk>;
		#clock-names = "i2c-clk";
		clock-frequency = <100000>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_dsp_i2c7>;
	};

	board_dts: board_dts {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
	};

        psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	i2s0: i2s0@320b0000 {
		compatible = "hobot, hobot-i2s";
		reg = <0x320b0000 0x10000>;
		#sound-dai-cells = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_dsp_i2s0>;
		status = "okay";
	};

	i2s1: i2s1@320c0000 {
		compatible = "hobot, hobot-i2s";
		reg = <0x320c0000 0x10000>;
		#sound-dai-cells = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_dsp_i2s1>;
		status = "okay";
	};

	sound {
		compatible = "hobot,audio-codec";
		status = "okay";

		cpu {
			sound-dai = <&i2s1 0>;
		};

		codec {
			sound-dai = <&es8156>;
		};
	};

	/* Display Subsystem */

	/* LPWM blocks (reg addresses match kernel arch/arm64 hobot/x5.dtsi) */
	lpwm0: pwm@34100000 {
		compatible = "hobot,x5-lpwm";
		reg = <0x34100000 0x100>;
		#pwm-cells = <2>;
		clock-divider = <599>;
		status = "disabled";
	};

	lpwm1: pwm@34110000 {
		compatible = "hobot,x5-lpwm";
		reg = <0x34110000 0x100>;
		#pwm-cells = <2>;
		clock-divider = <599>;
		status = "disabled";
	};

	disp_sys_con: syscon@3e0a0000 {
		compatible = "syscon";
		reg = <0x3e0a0000 0x200>;
	};

	disp_iomuxc: disp_iomuxc@3e0a0054 {
		compatible = "d-robotics,x5-disp-iomuxc";
		reg = <0x3e0a0054 0x4c>;
	};

	dphy0: phy@3e0a0028 {
		compatible = "snps,mipi-dphy";
		reg = <0x3e0a0028 0x2c>;
		#phy-cells = <0>;
		status = "okay";
	};

	mipi_dsi0: mipi_dsi0@3e060000 {
		compatible = "verisilicon,dw-mipi-dsi";
		reg = <0x3e060000 0x20000>;
		phys = <&dphy0>;
		phy-names = "dphy";
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
	};

	dc8000_nano: dc8000@3e000000 {
		compatible = "horizon,dc8000";
		reg = <0x3e000000 0x10000>;
		/* Framebuffer in safe region between adsp_ddr and ramoops */
		framebuffer-base = <0xa2080000>;
		framebuffer-size = <0x2000000>;  /* 32MB for 4K support */
		u-boot,dm-pre-reloc;
		status = "okay";
	};

	dsi_backlight: backlight {
		compatible = "pwm-backlight";
		/* EVB: same as kernel x5-evb.dtsi (&dsi_backlight pwms) */
		pwms = <&lpwm1 1 1000000>;
		brightness-levels = <0 1023>;
		default-brightness-level = <768>;
		status = "okay";
	};

	dsi_panel: panel {
		compatible = "jc-050hd134";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lsio_gpio0_14>;
		reset-gpios = <&ls_gpio0_porta 14 GPIO_ACTIVE_HIGH>;
		backlight = <&dsi_backlight>;
		/* U-Boot: per-driver timing strings + legacy timing-name fallback */
		d-robotics,jc050-timing = "720x1280@60";
		d-robotics,wh-cm480-timing = "800x480@60";
		d-robotics,st77031-timing = "600x1280@56";
		/*
		 * U-Boot x5_backlight LPWM path uses tick fields (see panel driver).
		 * Optional override: <div period duty> matching prior hardcoded defaults.
		 */
		x5,lpwm-params = <24 999 750>;
		status = "okay";
	};

	/*
	 * HDMI: BT1120 (SoC) + bridge nodes in x5-soc.dtsi (lontium,lt8618, sil,sii9022).
	 * U-Boot picks the bridge by I2C chip ID on enabled nodes (LT8618 first).
	 * SII902x: sil,tmds-mode = "hdmi" | "dvi" (TMDS packet mode; EDID is kernel-only).
	 * U-Boot timing: EDID when available, else bridge default;
	 * setenv x5_hdmi_edid off to skip EDID and use bridge default.
	 */
	bt1120_hdmi: bt1120@3e010000 {
		compatible = "verisilicon,bt1120";
		reg = <0x3e010000 0x10000>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_bt1120_data>;
		status = "disabled";
	};

};
#include "x5-fpga.dtsi"
#include "x5-svb.dtsi"
#include "x5-soc.dtsi"
#include "x5-rdk.dtsi"
