if ARCH_HORIZON

config TARGET_X5
	bool "Horizon X5 SOC"
	help
	  Support for the Horizon X5 SoC.

config DROBOT_DISABLE_WDT
	bool "Drobot disable watchdog"
	depends on WDT
	help
	  Support disable watchdog in drobotic X5 SOC.

config DROBOT_OPTEE_RPMB_DEBUG_CMD
	bool "enable x5  rpmb optee cmd 'x5_rpmb'"
	help
	  Support debug optee rpmb witch cmd x5_rpmb.

source "arch/arm/mach-horizon/x5/Kconfig"

endif
